<div class="my-16" fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button color="primary" routerLink="create">
      <mat-icon class="s-24 mr-4">add</mat-icon>
      Create New
    </button>
    
  </div>
   
<div fxLayout="row" fxLayoutAlign="start center" >
  <mat-form-field appearance="fill" >
  
  
    <mat-label>Select</mat-label>
    <mat-select [(value)]="type">
      <mat-option value=" " disabled selected></mat-option>
      <mat-option value="TYPE">TYPE</mat-option>
      <mat-option value="TITLE">TITLE</mat-option>
      <mat-option value="LIEN">LIEN</mat-option>
  
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="type!==''" style="margin-left: 10px;">
    <input matInput 
    
    placeholder="searchInput"
    (keyup)="fetch()"
    [(ngModel)]="searchInput" (change)="emailUpdated($event)"
     >
  </mat-form-field>
 
 
   <button *ngIf="type!==''" color="warn" mat-raised-button  (click)="clear()" > <mat-icon class="s-24 mr-4">clear</mat-icon></button>
  
  </div>

  <div *ngIf="dataSource.length>0">
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100-p">
    <ng-container matColumnDef="id">
      <th mat-header-cell class="px-12" *matHeaderCellDef> ID</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
   <!-- Weight Column -->
   <ng-container matColumnDef="type">
    <th mat-header-cell class="px-12" *matHeaderCellDef> Type</th>
    <td mat-cell class="px-12" *matCellDef="let element"> {{element.type}} </td>
  </ng-container>
    <ng-container matColumnDef="titre">
      <th mat-header-cell class="px-12" *matHeaderCellDef> Titre</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.titre}} </td>
    </ng-container>
  
    <ng-container matColumnDef="dateApparition">
      <th mat-header-cell class="px-12" *matHeaderCellDef> dateApparition</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.dateApparition}} </td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="lien">
      <th mat-header-cell class="px-12" *matHeaderCellDef> Lien</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.lien}} </td>
    </ng-container>
  
  
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="sourcePdf">
      <th mat-header-cell class="px-12" *matHeaderCellDef> source Pdf</th>
      <td mat-cell class="px-12" *matCellDef="let element">
        <a [href]="element.sourcePdf" target="_blank">
          <mat-icon>picture_as_pdf</mat-icon>
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell class="px-12" *matHeaderCellDef> Date</th>
      <td mat-cell class="px-12" *matCellDef="let element">
        {{element.date | date :'d MMMM y, HH:mm'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell class="px-12 w-120" *matHeaderCellDef></th>
      <td mat-cell class="px-12 w-120" *matCellDef="let element">
        <button mat-icon-button [routerLink]="element.id + '/edit'">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onRemoveAccount(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
  
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>