<div class="container">

    <h4>{{isFormInEditMode() ? 'Edit Event' : 'Create New Event'}}</h4>
  
    <form [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()" class="form" fxLayout="column">
  
      <mat-form-field>
        <input matInput placeholder="title" formControlName="title">
      </mat-form-field>
  
      <!-- <mat-form-field>
        <input matInput placeholder="date" formControlName="date">
      </mat-form-field>
   -->
   <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName='date'>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="lieu" formControlName="lieu">
      </mat-form-field>
  
  
      <div class="form-element">
        <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.invalid">Submit</button>
      </div>
  
    </form>
  </div>
  