<div *ngIf="enseignantItem" >
  <mat-card class="example-card" style="display: flex; flex-direction: column; justify-content: space-between;">
    <div style="display: flex;justify-content: space-between;">
      <p style="font-weight: bold; font-size: 24px;color:'#4554A5';"> FULL NAME </p>
  <p style="font-size: 24px;">{{enseignantItem.nom}} {{enseignantItem.prenom}}</p>

  </div>

  <div style="display: flex;justify-content: space-between;">
    <p style="font-weight: bold; font-size: 24px;color:'#4554A5';"> CIN </p>
<p style="font-size: 24px;">{{enseignantItem.cin}}</p>
  </div>
  <div style="display: flex;justify-content: space-between;">
    <p style="font-weight: bold; font-size: 24px;color:'#4554A5';"> DATE </p>
<p style="font-size: 24px;">{{enseignantItem.date}}</p>
  </div>
  <div style="display: flex;justify-content: space-between;">
    <p style="font-weight: bold; font-size: 24px;color:'#4554A5';"> EMAIL </p>
<p style="font-size: 24px;">{{enseignantItem.email}}</p>
  </div>
  <div style="display: flex;justify-content: space-between;">
    <p style="font-weight: bold; font-size: 24px;color:'#4554A5';"> GRADE </p>
<p style="font-size: 24px;">{{enseignantItem.grade}}</p>
  </div>
  <div style="display: flex;justify-content: space-between;">
    <p style="font-weight: bold; font-size: 24px;color:'#4554A5';"> ETABLISSEMENT </p>
<p style="font-size: 24px;">{{enseignantItem.etablissement}}</p>
  </div>


  <div  *ngIf="enseignantItem.pubs.length>0">
    <p style="font-weight: bold; font-size: 24px; text-align: center; margin-top: 16px;margin-bottom: 16px;color:'#4554A5';">PUBS</p>

<table mat-table [dataSource]="enseignantItem.pubs" class="mat-elevation-z8 w-100-p">
   
    <ng-container matColumnDef="titre">
      <th mat-header-cell class="px-12" *matHeaderCellDef> titre</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.titre}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="type">
      <th mat-header-cell class="px-12" *matHeaderCellDef> type</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.type}} </td>
    </ng-container>
    <ng-container matColumnDef="dateApparition">
      <th mat-header-cell class="px-12" *matHeaderCellDef> dateApparition</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.dateApparition}} </td>
    </ng-container>
  
   
    
    
    
    <ng-container matColumnDef="lien">
      <th mat-header-cell class="px-12" *matHeaderCellDef> lien</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.lien}} </td>
    </ng-container>
    <ng-container matColumnDef="sourcePdf">
      <th mat-header-cell class="px-12" *matHeaderCellDef> sourcePdf</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.sourcePdf}} </td>
    </ng-container>
    

    <tr mat-header-row *matHeaderRowDef="pubs"></tr>
    <tr mat-row *matRowDef="let row; columns: pubs;"></tr>
  </table>
</div>
<div  *ngIf="enseignantItem.outils.length>0">
<p style="font-weight: bold; font-size: 24px; text-align: center; margin-top: 16px;margin-bottom: 16px;color:'#4554A5';">outils</p>

<table mat-table [dataSource]="enseignantItem.outils" class="mat-elevation-z8 w-100-p">
   
    <ng-container matColumnDef="date">
      <th mat-header-cell class="px-12" *matHeaderCellDef> date</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="source">
      <th mat-header-cell class="px-12" *matHeaderCellDef> source</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.source}} </td>
    </ng-container>
  
   
    
  
    

    <tr mat-header-row *matHeaderRowDef="outils"></tr>
    <tr mat-row *matRowDef="let row; columns: outils;"></tr>
  </table>
</div>
<div  *ngIf="enseignantItem.evenements.length>0">
  <p style="font-weight: bold; font-size: 24px; text-align: center; margin-top: 16px;margin-bottom: 16px;color:'#4554A5';">evenements</p>

<table mat-table [dataSource]="enseignantItem.evenements" class="mat-elevation-z8 w-100-p">
   
    <ng-container matColumnDef="title">
      <th mat-header-cell class="px-12" *matHeaderCellDef> title</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
  
    <ng-container matColumnDef="date">
      <th mat-header-cell class="px-12" *matHeaderCellDef> date</th>
      <td mat-cell class="px-12" *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
    <ng-container matColumnDef="lieu">
        <th mat-header-cell class="px-12" *matHeaderCellDef> lieu</th>
        <td mat-cell class="px-12" *matCellDef="let element"> {{element.lieu}} </td>
      </ng-container>
    
   
    
  
    

    <tr mat-header-row *matHeaderRowDef="evenements"></tr>
    <tr mat-row *matRowDef="let row; columns: evenements;"></tr>
  </table>
</div>
</mat-card>
</div>

