<div class="container">

  <h4>{{isFormInEditMode() ? 'Edit Member' : 'Create New Member'}}</h4>

  <form [formGroup]="form" *ngIf="!!form" (ngSubmit)="onSubmit()" class="form" fxLayout="column">

    <mat-form-field>
      <input matInput placeholder="cin" formControlName="cin">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="nom" formControlName="nom">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="prenom" formControlName="prenom">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName='date'>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="cv" formControlName="cv">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="email" formControlName="email">
    </mat-form-field>

<!-- 
      <input  type='file' (change)="onSelectFile($event)" >



<input type='file' (change)="onSelectFile($event)">

<img [src]="url" height="200px" width="200px"> <br/> -->
    <mat-form-field appearance="fill" *ngIf="!currentItemId" >


      <mat-label>Select</mat-label>
      <mat-select [(value)]="type">
        <mat-option value="" disabled selected></mat-option>
        <mat-option value="STUDENT">STUDENT</mat-option>
        <mat-option value="TEACHER">TEACHER</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="!!currentItemId" >


      <mat-label>Select</mat-label>
      <mat-select [(value)]="type">
        <mat-option value="" disabled selected></mat-option>
        <mat-option value="STUDENT" disabled>STUDENT</mat-option>
        <mat-option value="TEACHER" disabled>TEACHER</mat-option>
      </mat-select>
    </mat-form-field>
  
    <form [formGroup]="formTeacher"  (ngSubmit)="onSubmit()" class="form" fxLayout="column">
    <mat-form-field *ngIf="type==='TEACHER'">
      <input matInput placeholder="grade" formControlName="grade">
    </mat-form-field>
    
    
    <mat-form-field  *ngIf="type==='TEACHER'">
      <input matInput placeholder="etablissement" formControlName="etablissement">
    </mat-form-field>
 
  <form [formGroup]="formStudent"  (ngSubmit)="onSubmit()" class="form" fxLayout="column">
    <!-- <mat-form-field  *ngIf="type==='STUDENT'">
      <input matInput placeholder="dateInscription" formControlName="dateInscription">
    </mat-form-field> -->
    <mat-form-field appearance="fill" *ngIf="type==='STUDENT'">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName='dateInscription'>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field  *ngIf="type==='STUDENT'">
      <input matInput placeholder="diplome" formControlName="diplome">
    </mat-form-field>
  


    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="form.invalid">Submit</button>
    </div>
  </form>
  </form> </form>
  
</div>
